body {
  font-family: sans-serif;
}

.message {
  font-weight: bold;
  margin-bottom: 20px;
}

.error {
  color: red;
}

.formField {
  margin: 10px 0;
  display: flex;
}

.input {
  justify-content: space-between;
  width: 500px;
}

.submit {
  margin-top: 20px;
}
